assets/mansion.webp filter=lfs diff=lfs merge=lfs -text
assets/cat.webp filter=lfs diff=lfs merge=lfs -text
assets/catThumb.webp filter=lfs diff=lfs merge=lfs -text
assets/mansionThumb.webp filter=lfs diff=lfs merge=lfs -text
